<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple website</title>
    <link rel="stylesheet" href="/tar.css">
    <!-- <script  defer src="intro.js"></script> -->
 
</head>
<body>
    
<div class="genera">
    <h1><a href="#">OUR WONDERFULL APP</a></h1>
    <div class="button">
        <button>Create Post</button>
    <button>Log Out</button>
    </div>
    
</div>
<div class="lists">
    <h2>Hello dear, here are your posts</h2>
    <ul>
    <li><a href="#">My Example posts</a> on 4/10/25</li>
    <li><a href="#">Mark down is incuded</a> on 4/10/25</li>
    <li><a href="#">An Excellent post</a> on 4/10/25</li>
    </ul>
</div>



</body>
</html>
